### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
main_df = pd.read_csv(file_to_load)
main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [7]:
#filter out unique usernames, calculate length
player_count = len (main_df["SN"].unique())

#display in dataframe
player_count_df = pd.DataFrame ({"total players": [player_count]})
player_count_df

   total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#complete calculations from original dataframe
item_count = len(main_df["Item ID"].unique())
avg_price = round(main_df["Price"].mean(), 2)
purchase_count = len(main_df)
total_rev = purchase_df["Price"].sum()

#display all floats w/ two decimal places as '$'
pd.options.display.float_format = '${:,.2f}'.format

#display calculations in dataframe
purchase_analysis_df = pd.DataFrame ({"# of unique items": [item_count],
                                     "average price": [avg_price],
                                     "# of purchases": [purchase_count],
                                     "total revenue": [total_rev]})
purchase_analysis_df

   # of unique items  average price  # of purchases  total revenue
0                179          $3.05             780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#create new dataframe from username & gender columns of original data
user_df = purchase_df[["SN", "Gender"]]

#drop repeat usernames for users that made more than one purchase
user_df = user_df.drop_duplicates(subset="SN")

#calculate corresponding count and percentage
gender_count = user_df["Gender"].value_counts()
gender_percent = user_df["Gender"].value_counts(normalize=True)

#display in dataframe
gender_demo_df = pd.DataFrame({"total count": gender_count,
                          "% of players": gender_percent})

#format percentage w/ '%'
gender_demo_format = gender_df.style.format ({"% of players": "{:.2%}".format})
gender_demo_format


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#group purchase data by gender
gender_group = main_df.groupby(["Gender"])

#complete calculations w/ grouped data
gender_buy_count = gender_group["SN"].count()
gender_avg_price = round(gender_group["Price"].mean(), 2)
gender_total_price = gender_group["Price"].sum()
gender_avg_person = round(gender_total_price / gender_count, 2)

#display results in dataframe
gender_stat_df = pd.DataFrame({"purchase count": gender_buy_count,
                              "average purchase price": gender_avg_price,
                              "total purchase value": gender_total_price,
                              "average total per person": gender_avg_person})

gender_stat_df

,purchase count,average purchase price,total purchase value,average total per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame